HotelManagment/Service References/HotelServiceFinal/HotelService1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelService.Model" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelService.Model" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="ArrayOfHotelReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelReservation" nillable="true" type="tns:HotelReservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelReservation" nillable="true" type="tns:ArrayOfHotelReservation" />
  <xs:complexType name="HotelReservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCheckIN" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCheckOUT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="ReservationId" type="xs:int" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="tns:HotelRoom" />
      <xs:element minOccurs="0" name="RoomService" nillable="true" type="tns:HotelRoomService" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:HotelUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelReservation" nillable="true" type="tns:HotelReservation" />
  <xs:complexType name="HotelRoom">
    <xs:sequence>
      <xs:element minOccurs="0" name="RoomCapacity" type="xs:int" />
      <xs:element minOccurs="0" name="RoomFloor" type="xs:int" />
      <xs:element minOccurs="0" name="RoomId" type="xs:int" />
      <xs:element minOccurs="0" name="RoomNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RoomOccupancy" type="xs:boolean" />
      <xs:element minOccurs="0" name="RoomType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelRoom" nillable="true" type="tns:HotelRoom" />
  <xs:complexType name="HotelRoomService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Breakfast" type="xs:boolean" />
      <xs:element minOccurs="0" name="CleaningService" type="xs:boolean" />
      <xs:element minOccurs="0" name="Dinner" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lunch" type="xs:boolean" />
      <xs:element minOccurs="0" name="RoomServiceId" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceDone" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpecialService" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelRoomService" nillable="true" type="tns:HotelRoomService" />
  <xs:complexType name="HotelUser">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBird" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" type="xs:int" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="HotelUser" nillable="true" type="tns:HotelUser" />
  <xs:complexType name="ArrayOfHotelUser">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="HotelUser" nillable="true" type="tns:HotelUser" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfHotelUser" nillable="true" type="tns:ArrayOfHotelUser" />
</xs:schema>