HotelManagment/Service References/HotelServiceFinal/HotelService3.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/HotelService" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/HotelService" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="User">
    <xs:sequence>
      <xs:element minOccurs="0" name="Adress" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="DateOfBird" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Email" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Name" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Number" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Password" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="PostCode" type="xs:int" />
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ArrayOfReservation" />
      <xs:element minOccurs="0" name="Role" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Sex" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="State" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Surname" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UniqueID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="UserId" type="xs:int" />
      <xs:element minOccurs="0" name="Username" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="User" nillable="true" type="tns:User" />
  <xs:complexType name="ArrayOfReservation">
    <xs:sequence>
      <xs:element minOccurs="0" maxOccurs="unbounded" name="Reservation" nillable="true" type="tns:Reservation" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="ArrayOfReservation" nillable="true" type="tns:ArrayOfReservation" />
  <xs:complexType name="Reservation">
    <xs:sequence>
      <xs:element minOccurs="0" name="DateCheckIN" type="xs:dateTime" />
      <xs:element minOccurs="0" name="DateCheckOUT" type="xs:dateTime" />
      <xs:element minOccurs="0" name="Price" type="xs:float" />
      <xs:element minOccurs="0" name="ReservationId" type="xs:int" />
      <xs:element minOccurs="0" name="Room" nillable="true" type="tns:Room" />
      <xs:element minOccurs="0" name="RoomID" type="xs:int" />
      <xs:element minOccurs="0" name="RoomService" nillable="true" type="tns:RoomService" />
      <xs:element minOccurs="0" name="RoomServiceID" type="xs:int" />
      <xs:element minOccurs="0" name="User" nillable="true" type="tns:User" />
      <xs:element minOccurs="0" name="UserID" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Reservation" nillable="true" type="tns:Reservation" />
  <xs:complexType name="Room">
    <xs:sequence>
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ArrayOfReservation" />
      <xs:element minOccurs="0" name="RoomCapacity" type="xs:int" />
      <xs:element minOccurs="0" name="RoomFloor" type="xs:int" />
      <xs:element minOccurs="0" name="RoomId" type="xs:int" />
      <xs:element minOccurs="0" name="RoomNumber" type="xs:int" />
      <xs:element minOccurs="0" name="RoomOccupancy" type="xs:boolean" />
      <xs:element minOccurs="0" name="RoomType" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Room" nillable="true" type="tns:Room" />
  <xs:complexType name="RoomService">
    <xs:sequence>
      <xs:element minOccurs="0" name="Breakfast" type="xs:boolean" />
      <xs:element minOccurs="0" name="CleaningService" type="xs:boolean" />
      <xs:element minOccurs="0" name="Dinner" type="xs:boolean" />
      <xs:element minOccurs="0" name="Lunch" type="xs:boolean" />
      <xs:element minOccurs="0" name="Reservation" nillable="true" type="tns:ArrayOfReservation" />
      <xs:element minOccurs="0" name="RoomServiceId" type="xs:int" />
      <xs:element minOccurs="0" name="ServiceDone" type="xs:boolean" />
      <xs:element minOccurs="0" name="SpecialService" type="xs:boolean" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="RoomService" nillable="true" type="tns:RoomService" />
</xs:schema>