HotelManagment/Service References/HotelServiceFinal/HotelService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="HotelService" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:54091/HotelService.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:54091/HotelService.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import schemaLocation="http://localhost:54091/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelService.Model" />
      <xsd:import schemaLocation="http://localhost:54091/HotelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HotelService" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="HotelServisInterface_GetReservations_InputMessage">
    <wsdl:part name="parameters" element="tns:GetReservations" />
  </wsdl:message>
  <wsdl:message name="HotelServisInterface_GetReservations_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetReservationsResponse" />
  </wsdl:message>
  <wsdl:message name="HotelServisInterface_ListHotelGuest_InputMessage">
    <wsdl:part name="parameters" element="tns:ListHotelGuest" />
  </wsdl:message>
  <wsdl:message name="HotelServisInterface_ListHotelGuest_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListHotelGuestResponse" />
  </wsdl:message>
  <wsdl:message name="HotelServisInterface_ListHotelRooms_InputMessage">
    <wsdl:part name="parameters" element="tns:ListHotelRooms" />
  </wsdl:message>
  <wsdl:message name="HotelServisInterface_ListHotelRooms_OutputMessage">
    <wsdl:part name="parameters" element="tns:ListHotelRoomsResponse" />
  </wsdl:message>
  <wsdl:message name="HotelServisInterface_CheckLoginUser_InputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoginUser" />
  </wsdl:message>
  <wsdl:message name="HotelServisInterface_CheckLoginUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:CheckLoginUserResponse" />
  </wsdl:message>
  <wsdl:message name="HotelServisInterface_RegistrationUser_InputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationUser" />
  </wsdl:message>
  <wsdl:message name="HotelServisInterface_RegistrationUser_OutputMessage">
    <wsdl:part name="parameters" element="tns:RegistrationUserResponse" />
  </wsdl:message>
  <wsdl:message name="HotelServisInterface_DeleteReservation_InputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReservation" />
  </wsdl:message>
  <wsdl:message name="HotelServisInterface_DeleteReservation_OutputMessage">
    <wsdl:part name="parameters" element="tns:DeleteReservationResponse" />
  </wsdl:message>
  <wsdl:portType name="HotelServisInterface">
    <wsdl:operation name="GetReservations">
      <wsdl:input wsaw:Action="http://tempuri.org/HotelServisInterface/GetReservations" message="tns:HotelServisInterface_GetReservations_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HotelServisInterface/GetReservationsResponse" message="tns:HotelServisInterface_GetReservations_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListHotelGuest">
      <wsdl:input wsaw:Action="http://tempuri.org/HotelServisInterface/ListHotelGuest" message="tns:HotelServisInterface_ListHotelGuest_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HotelServisInterface/ListHotelGuestResponse" message="tns:HotelServisInterface_ListHotelGuest_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="ListHotelRooms">
      <wsdl:input wsaw:Action="http://tempuri.org/HotelServisInterface/ListHotelRooms" message="tns:HotelServisInterface_ListHotelRooms_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HotelServisInterface/ListHotelRoomsResponse" message="tns:HotelServisInterface_ListHotelRooms_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CheckLoginUser">
      <wsdl:input wsaw:Action="http://tempuri.org/HotelServisInterface/CheckLoginUser" message="tns:HotelServisInterface_CheckLoginUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HotelServisInterface/CheckLoginUserResponse" message="tns:HotelServisInterface_CheckLoginUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RegistrationUser">
      <wsdl:input wsaw:Action="http://tempuri.org/HotelServisInterface/RegistrationUser" message="tns:HotelServisInterface_RegistrationUser_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HotelServisInterface/RegistrationUserResponse" message="tns:HotelServisInterface_RegistrationUser_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="DeleteReservation">
      <wsdl:input wsaw:Action="http://tempuri.org/HotelServisInterface/DeleteReservation" message="tns:HotelServisInterface_DeleteReservation_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/HotelServisInterface/DeleteReservationResponse" message="tns:HotelServisInterface_DeleteReservation_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_HotelServisInterface" type="tns:HotelServisInterface">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetReservations">
      <soap:operation soapAction="http://tempuri.org/HotelServisInterface/GetReservations" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListHotelGuest">
      <soap:operation soapAction="http://tempuri.org/HotelServisInterface/ListHotelGuest" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="ListHotelRooms">
      <soap:operation soapAction="http://tempuri.org/HotelServisInterface/ListHotelRooms" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CheckLoginUser">
      <soap:operation soapAction="http://tempuri.org/HotelServisInterface/CheckLoginUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RegistrationUser">
      <soap:operation soapAction="http://tempuri.org/HotelServisInterface/RegistrationUser" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="DeleteReservation">
      <soap:operation soapAction="http://tempuri.org/HotelServisInterface/DeleteReservation" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="HotelService">
    <wsdl:port name="BasicHttpBinding_HotelServisInterface" binding="tns:BasicHttpBinding_HotelServisInterface">
      <soap:address location="http://localhost:54091/HotelService.svc/HotelService" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>