HotelManagment/Service References/HotelServiceFinal/HotelService2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:54091/HotelService.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/HotelService.Model" />
  <xs:import schemaLocation="http://localhost:54091/HotelService.svc?xsd=xsd3" namespace="http://schemas.datacontract.org/2004/07/HotelService" />
  <xs:element name="GetReservations">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="GetReservationsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/HotelService.Model" minOccurs="0" name="GetReservationsResult" nillable="true" type="q1:ArrayOfHotelReservation" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListHotelGuest">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListHotelGuestResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/HotelService.Model" minOccurs="0" name="ListHotelGuestResult" nillable="true" type="q2:ArrayOfHotelUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="ListHotelRooms">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
  <xs:element name="ListHotelRoomsResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.datacontract.org/2004/07/HotelService.Model" minOccurs="0" name="ListHotelRoomsResult" nillable="true" type="q3:ArrayOfHotelRoom" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoginUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="username" nillable="true" type="xs:string" />
        <xs:element minOccurs="0" name="password" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CheckLoginUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/HotelService.Model" minOccurs="0" name="CheckLoginUserResult" nillable="true" type="q4:HotelUser" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationUser">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/HotelService" minOccurs="0" name="userFromRegistration" nillable="true" type="q5:User" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RegistrationUserResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="RegistrationUserResult" type="xs:boolean" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>